.App {
  text-align: center;
}

.Title {
  background-color: red;
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  font-size: calc(15px + 1vmin);
  color: white;
}

.Listing {
  background-color: red;
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 1vmin);
  color: white;
}

.ItemField {
  background-color: white;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: start;
}

.ItemList {
  background-color: white;
  width: calc(100% / 3 - 10px);
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 1vmin);
  color: black;
  padding: 5px;
}

.ItemList img {
  width: 100%; /* 親要素にフィット */
  height: 150px; /* 固定の高さ */
  object-fit: cover; /* 画像の比率を維持しつつ、トリミング */
  border-radius: 8px; /* 角を丸く（任意） */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
